@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 45% 10%;
    /*--foreground: 43 77% 91%;*/
    --foreground: 0 0% 100%;
    --card: 215 45% 10%;
    --card-foreground: 43 77% 91%;
    --popover: 215 45% 10%;
    --popover-foreground: 43 77% 91%;
    --primary: 209 90% 60%;
    --primary-foreground: 215 45% 10%;
    --secondary: 174 70% 56%;
    --secondary-foreground: 215 45% 10%;
    --muted: 215 45% 20%;
    --muted-foreground: 43 77% 81%;
    --accent: 174 70% 56%;
    --accent-foreground: 215 45% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 43 77% 91%;
    --border: 174 70% 56%;
    --input: 174 70% 56%;
    --ring: 43 65% 52%;
    --radius: 0.5rem;
  }
}
/*@layer base {*/
/*  :root {*/
/*    --background: 215 45% 10%;*/
/*    --foreground: 43 77% 91%;*/
/*    --card: 215 45% 10%;*/
/*    --card-foreground: 43 77% 91%;*/
/*    --popover: 215 45% 10%;*/
/*    --popover-foreground: 43 77% 91%;*/
/*    --primary: 43 65% 52%;*/
/*    --primary-foreground: 215 45% 10%;*/
/*    --secondary: 174 70% 56%;*/
/*    --secondary-foreground: 215 45% 10%;*/
/*    --muted: 215 45% 20%;*/
/*    --muted-foreground: 43 77% 81%;*/
/*    --accent: 174 70% 56%;*/
/*    --accent-foreground: 215 45% 10%;*/
/*    --destructive: 0 62.8% 30.6%;*/
/*    --destructive-foreground: 43 77% 91%;*/
/*    --border: 174 70% 56%;*/
/*    --input: 174 70% 56%;*/
/*    --ring: 43 65% 52%;*/
/*    --radius: 0.5rem;*/
/*  }*/
/*}*/

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .custom-background {
    @apply bg-[#0A1A2A];
  }
  .custom-text {
    @apply text-[#d8d8d8];
  }
  .custom-primary {
    @apply text-[#4396cf];
  }
  .custom-secondary {
    /*@apply text-[#337cae];*/
    /*@apply text-[#4b8cb8];*/
    @apply text-[#6babd6];
  }
  .custom-border {
    @apply border-[#4396cf];
  }
  .custom-highlight {
    @apply bg-[#40E0D0];
    /*@apply bg-[#3ea7c9];*/
    /*@apply bg-[#ffffff];*/
  }
}
